fieldset {
    padding: 15px;
    width: 60%;
    background-color: #ccc;
    border-radius: 12px;
}
legend
{
    text-shadow: 3px 3px 5px rgb(32, 3, 3);
}
label 
{display: inline-block;
 width: 100px;
 text-align: right;
}
input[type="text"] 
{
    margin-left: 10px;
    margin-right:10px;
}

