header 
{
position: relative;

}

#listmenu
{ 
    background-color: #4FB234;
    margin:0px;
    padding:0px;
    width: 100%;
    height: 24px;
    border-top:2px solid #008000;
    border-bottom: 2px solid #008000;
    top:200px;
    position: absolute;
    z-index: 1000;
}
#listmenu ul {

    margin:0px 0px 0px 0px ;
    padding: 0px;
}

#listmenu ul li 
{
 float: left;
 position: relative;
 list-style: none;
 background-color: #008000;
 padding:4px 16px;
border-right: 1px solid white;

}

#listmenu ul li:first-child 
{
    border-left: 1px solid white;
}

#listmenu ul li ul 
{
position: absolute;
z-index: 50;
}
#listmenu ul ul li
{
width: 100%;
border-right: 1px solid white;
border-bottom: 1px solid white;
border-left: 1px solid white;

}

#listmenu ul ul li:first-child
{
border-top: 1px solid white;

}

#listmenu ul li ul
{
    margin-top: 4px;
    margin-left: -17px;
    display: none;
}

#listmenu ul li:hover ul {

    display: block;
}
#listmenu ul li:hover ul ul
{
    display: none;
}
#listmenu ul li ul li:hover ul
{
    display: block;
}
#listmenu ul ul ul 
{
    top:-5px;
    left:230px; 
    z-index:100;
    width:220px;
}
#lismenu ul ul ul li 
{
width: 100%;
}

#listmenu a 
{
    text-decoration: none;
    color: white;
}

#entete {
    width: 980px;
    margin-left: auto;
    margin-right: auto;

}

#main 
{
    background-color: #663333;
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    

}
#nav2
{   
    padding-top: 200px;
    background-color: #663333;
    position:static;
    width: 200px;
    height: 100%;
    float: left;
}


#nav2  li {
    padding-left: 20px;
    list-style: none;
   
}
aside
{
float:right;

}
#nav2 a:link
{
    text-decoration: none;
color: white;
font-size: 1.4em;
}
#banniere
{
    width: 635px;
    height: 200px;
    float:right;
    background-image: url(../img/banniere_mouche.jpg);

}

section 
{
margin-left: 200px;
background-color:  #CBD888;
} 

footer
 {
     padding: 30px;
     background-color: #006633;

}

.ombre{
 margin-left: 160px;
    color : whitesmoke;
    text-shadow: 4px 4px 5px black;
}
