
body {
padding:0px;
margin:0px;
}

#listmenu {
position:absolute;
top:200px;
background-color:#4FB234;
height:24px;
width: 100%;
border-top:1px solid #008000;
border-bottom: 1px solid #008000;
margin:0px;
padding-left: 20%;
}
#listmenu ul li{
position: relative;
/*display: inline;*/
float:left;
list-style: none;
border-right:1px solid white;
padding:2px 10px;  
background-color:#008000 ;

} 
#listmenu ul li:first-child 
{
border-left: 1px solid white;
}
#listmenu ul ul li 
{
    width: 140px;
    border-left: 1px solid white;
    border-right: 1px solid white;
   /* width: 100%;*/
    border-bottom: 1px solid white;
} 
#listmenu ul ul li:first-child
{
border-top: 1px solid white;
}
#listmenu ul ul ul  
{
    display: none;
    left: 160px;
    top:-2px;


}

 #listmenu ul
 {
    padding:0px;
    margin:0px;
    float: left;
}
#listmenu ul ul 
{
    position: absolute; 
    margin-top:2px;
    left:-3px;
  display: none;
}
#listmenu ul li:hover ul 
{
    display: block;
} 

#listmenu ul li:hover ul ul
{
    display:none;
} 
#listmenu ul ul li:hover ul 
{

display: block;

}

#listmenu a 
{ 
    display: inline-block;
    text-decoration: none;
    height:100%;
    color:#fff;
    padding:2px;
    
} 

